.wordContainer {
  background-color: white !important;
  height: 200px;
  margin-top: 5%;
  padding: 20px;
}
p {
  font-family: verdana;
  font-size: 18px;
}
body{
  background-color: lightgray !important;
}
.inputContainer{
  margin-top: 2rem;
}